<mat-toolbar class="col-12 main-green-bg d-flex justify-content-between">
  <div class="col-4">
    <button mat-icon-button (click)="openSideNavbar()">
      <mat-icon style="color: white">menu</mat-icon>
    </button>
  </div>

  <div class="col-4 d-flex justify-content-center">
    <a [routerLink]="['/advertisements']" (click)="reloadAdvertisement()">
      <img class="logo" src="./../../../../../assets/logo-sem-nome-bg.png" />
    </a>
  </div>

  <div class="col-4 d-flex justify-content-end">
  </div>
</mat-toolbar>
