<!-- <div class="collapse" id="navbarToggleExternalContent">
  <div class="main-green-bg p-4">
  </div>

  <span><a (click)="logout()">Sair</a></span>
</div>
<nav class="navbar navbar-dark main-green-bg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav> -->

<mat-toolbar class="col-12 main-green-bg d-flex justify-content-between">
  <div class="col-4">
    <button mat-icon-button (click)="openSideNavbar()">
      <mat-icon style="color: white">menu</mat-icon>
    </button>
  </div>

  <div class="col-4 d-flex justify-content-center">
    <img class="logo" src="./../../../../../assets/logo-sem-nome-bg.png" />
  </div>

  <!--  <div>
        <a (click)="logout()">Sair</a>
      </div> -->
  <div class="col-4 d-flex justify-content-end">
    <app-input-search
      class="input-search"
      [control]="navbarForm.controls['search']"
      placeholder="Pesquisar"
    >
    </app-input-search>
  </div>
</mat-toolbar>
