<div class="row">
    <div class="col-12 d-flex flex-column align-items-center">

        <img class="logo mt-5" src="../../../assets/logo-condomeasy.png" alt="logo-condomeasy">

        <div class=" col-12 col-md-6 col-lg-4 col-xl-2">
            <app-input-text
            [control]="loginForm.controls['username']"
            placeholder="Nome de usuário ou e-mail"
            identifier="username-input-text">
            </app-input-text>
        </div>

        <div class=" col-12 col-md-6 col-lg-4 col-xl-2">
            <app-input-text
            [control]="loginForm.controls['username']"
            placeholder="Senha"
            type="password"
            identifier="password-input-text">
            </app-input-text>
        </div>

        <div>
            <span>Não tem conta? <a class="register-link">Registre-se aqui</a>.</span>
        </div>
    </div>

    <div class="col-12 button-area mt-3">
        <div class="col-12 col-md-1">
            <app-button
                name="Entrar"
                className="btn-primary btn-lg"
                (onClick)="send()"
                identifier="login-button">
            </app-button>
        </div>
    </div>
</div>