.logo {
  width: 350px;
  height: 400px;
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-link {
  text-decoration: none;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: rgb(5, 99, 103) !important;
  color: #fff !important;
}
